.Green-bg {
  background-color: #025048;
  height: 480px;
  width: 100%;
}
.ContactUs-Para-Img-Div {
  display: flex;
  justify-content: space-around;
}
.ContactUs-ceramic-img {
  margin-top: 20px;
  width: 440px;
  height: 495px;
}
.contactUs-para1 {
  font-size: 70px;
  color: white;
  margin-bottom: 10px;
}
.contactUs-para2 {
  color: white;
  padding: 3px;
  font: 17px "Work Sans", sans-serif;
}
.ContactUs-Para-Div {
  margin-top: 190px;
}
.GetInTouch-Container {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}
.get-para1 {
  color: #025048;
  font-size: 55px;
  padding: 3px;
}
.get-para2 {
  color: #025048;
  font: 18px "Work Sans", sans-serif;
  padding: 3px;
}
.Address-para {
  color: #025048;
  padding: 5px;
  font: 16px "Work Sans", sans-serif;
}
.Address-para1 {
  color: #025048;
  padding: 5px;
  font: 17px "Work Sans", sans-serif;
}
.A-P-E-div {
  margin-top: 20px;
  padding: 3px;
  border-bottom: 1px solid rgb(224, 219, 219);
  display: flex;
}
.Address-para-2 {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 8px;
}
.GetInTouch-Container-2 {
  background-color: #f1f4f1;
  width: 650px;
  height: 530px;
}
.Form-Div {
  padding: 40px;
}
.icons-div {
  color: #025048;
  margin-right: 10px;
}
.Name-Input {
  width: 260px;
  border: rgb(235, 231, 231) solid 1px;
  height: 45px;
  margin: 10px;
}
.lebel-div {
  margin: 10px;
  font: 16px "Work Sans", sans-serif;
  font-weight: 600;
}
.lebel-div2 {
  margin-left: 10px;
  margin-top: 20px;
  font: 16px "Work Sans", sans-serif;
  font-weight: 600;
}
.Email-Input {
  width: 540px;
  margin: 10px;
  border: rgb(235, 231, 231) solid 1px;
  height: 45px;
}
.Message-input {
  height: 100px;
  width: 540px;
  border: rgb(235, 231, 231) solid 1px;
  margin: 10px;
}
.lebel-div3 {
  margin-top: 20px;
  margin-left: 10px;
  font: 16px "Work Sans", sans-serif;
  font-weight: 600;
}
.Form-Submit-btn {
  padding: 10px;
  width: 140px;
  height: 50px;
  background-color: white;
  font: 18px "Work Sans", sans-serif;
  border: 1px solid #025048;
  color: #025048;
  transition-duration: 0.3s;
  margin: 10px;
}
.Form-Submit-btn:hover {
  cursor: pointer;
  background-color: #025048;
  color: white;
}
.Faq-Container {
  background-color: #f1f4f1;
  margin-top: 100px;
  height: 500px;
}
.Faq-Accordian-mainDiv {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}
.accordion {
  width: 600px;
}
.accordion-item {
  border-radius: 4px;
}
.accordion-header {
  background-color: white;
  border: 1px solid rgb(202, 202, 202);
  width: 660px;
  height: 60px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  color: #686666;
}
.accordion-content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgb(202, 202, 202);
  width: 638px;
}
.accordion-header.active {
  transition: 0.3s ease-in;
}
.Faq-paras {
  margin-top: 10px;
}
.Faq-para-1 {
  color: #025048;
  font-size: 50px;
  padding: 4px;
}
.Faq-para-2 {
  color: #025048;
  padding: 4px;
  font: 17px "Work Sans", sans-serif;
}
.Uncover-World-1{
  display: flex;
  margin-bottom: 0%;
}
